# Необязательные настройки Compose. Значения по умолчанию уже заданы в compose.yaml.
# По умолчанию образ собирается из master публичного GitHub-репозитория.
DOCKER_BUILD_CONTEXT="https://github.com/Dead-Master/game.git#master"

DOCKER_APP_PORT=8080
DOCKER_APP_URL=http://localhost:8080
DOCKER_APP_KEY=base64:7xBMf3EJQYWHbFHXqV7dc5lSspuP4PybDTKI3hkcYTQ=

DOCKER_DB_DATABASE=game
DOCKER_DB_USERNAME=game
DOCKER_DB_PASSWORD=game
DOCKER_DB_ROOT_PASSWORD=root
DOCKER_DB_FORWARD_PORT=3307

DOCKER_BOT_PORT=8090
DOCKER_BOT_SERVICE_TOKEN=local-bot-token
DOCKER_BOT_STRATEGY=codex_v2
